@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--primary-bg:"#FF604D";
	--secondary-bg:"#FAD5D0"	
}
.restaraunt-backround{
	--primary-bg:"#FF604D" ;
	--secondary-bg:"#FAD5D0";
}
.restaraunt-backround.bg-primary{
		background-color: var(--primary-bg) !important;
}
.restaraunt-backround.bg-secondary{
	background-color: var(--secondary-bg) !important;
}
.restaraunt-backround.text-primary{
	color: var(--primary-bg) !important;
}
.restaraunt-backround.text-secondary{
color: var(--secondary-bg) !important;
}
.boxshadow-1{
    box-shadow: 0 0 6px #fc6a5a;
}
.boxshadow-2{
    box-shadow: 0 0 8px #00000029;
}
.boxshadow-3{
    box-shadow: 0 0 10px #00000035;
}

.product-page-background{
    background: #232526; /* fallback for old browsers */
    background: -webkit-radial-gradient(  #414345,#232526,); /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient( #414345,#232526);
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.live{
    background: var(--primary-bg) !important;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
}


.master{
  color:black;
  float:right;
}

@media (max-width:900px){
  .master{
    display:none
  }
}